<div id="container-all">

  <div id="container-toolbar">
    <div class="row" style="height: 47px !important">
      <div id="container-toolbar-logo" class="col-sm-1">

        <img id="container-toolbar-logo-image" src="assets/img/Frog-Black.png" [routerLink]="['/']" />

      </div>

      <div id="container-toolbar-title" class="col-sm-3">
        Jeffro Central
      </div>
      <div id="container-toolbar-menu" class="col-sm-8">
        <app-navbar></app-navbar>
      </div>
    </div>
  </div>
  <div id="container-content">


    <div>
      <div class="col-sm-10 offset-sm-1">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
  <div id="container-footer">
    Footer Here
  </div>
</div>
