<style>
  #container-all {
    height:100vh;
  }

  #container-toolbar {
    position:fixed;height:50px;right:0;left:0;top: 0;background-color:hsl(0, 0%, 95%);line-height: 47px;
  }

  #container-toolbar:after {
    /* Adds the drop-shadow to the header */
    content: "";
    display: block;
    height: 8px;
    background: transparent;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }

  #container-toolbar-logo-image {
    margin-left:auto;margin-right:auto;display:block;width:45px;padding-top:1px;
  }

  #container-toolbar-title {
    font-size: 2em;
    font-weight: bold;
    white-space: nowrap;
  }

  #container-content {
    position:absolute;right:0;left:0;top:50px;height: calc(100% - 100px) ;overflow: auto;padding-top:10px;
  }
  #container-footer {
    position:fixed;right:0;left:0;top: calc(100% - 50px) ;height:50px;background-color:hsl(0, 0%, 95%);;
  }
  #container-footer:before {
    /* Adds the drop-shadow to the footer */
    content: "";
    display: block;
    height: 4px;
    background: transparent;
    background: -moz-linear-gradient(bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
</style>


<div id="container-all">

  <div id="container-toolbar">
      <div class="row">
      <div id="container-toolbar-logo" class="col-sm-1">
          <img id="container-toolbar-logo-image" src="assets/img/Me-48x48.png"/>
      </div>

      <div id="container-toolbar-title" class="col-sm-3">
          Jeffro Central
      </div>
      <div id="container-toolbar-menu" class="col-sm-8">
          <app-navbar></app-navbar>
      </div>
    </div>
  </div>
  <div id="container-content">


      <div>
          <div class="col-sm-6 offset-sm-3">
              <router-outlet></router-outlet>
          </div>
      </div>

  </div>
  <div id="container-footer">
  Footer Here
  </div>
</div>
