<style>
form {

  width: 100% !important;
}
.mat-grid-list > div {
  height:100px !important;
  width: 100px !important;
}
</style>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column.colName}}" *ngFor="let column of columnLabels">
    <th mat-header-cell *matHeaderCellDef> {{column.colLabel}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column.colName]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="user-list-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

        <form *ngIf="loaded" (ngSubmit)="onSubmit()" autocomplete="off">

          <mat-grid-list [cols]="3" [rowHeight]="100">
            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="element.username" name="username" id="username">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="First name"  [(ngModel)]="element.firstName" [required]="true" name="firstName" id="firstName">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last Name"  [(ngModel)]="element.lastName" [required]="true" name="lastName" id="lastName">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Email" email  [(ngModel)]="element.email" [required]="true" name="email" id="email">
                </mat-form-field>
              </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="New Password" type="password" id="newPassword">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Confirm New Password" type="password" id="newPasswordConfirm">
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>




          <mat-grid-list [cols]="1" [rowHeight]="50" >
              <mat-grid-tile>
                <button [disabled]="loading" class="btn btn-primary">Save</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
              </mat-grid-tile>

            </mat-grid-list>













        </form>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="user-list-element-row" [class.user-list-expanded-row]="expandedElement === element"
    (click)="expandedElement = element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="user-list-detail-row"></tr>
</table>
